## 创建`dataframe`

In [2]:
import pandas as pd
import numpy as np

classes = ["101", "202", "303"]
df = pd.DataFrame(
    {
        "class":[classes[x % len(classes)] for x in np.random.randint(0, len(classes), 15)],
        "math":np.random.randint(0, 100, 15),
        "physics":np.random.randint(0, 100, 15)  
    })
df

   class  math  physics
0    101    93       32
1    303    84       81
2    202    40       84
3    202    89       51
4    303     4       42
5    303    38       33
6    101    63       62
7    303     4       70
8    101    55       50
9    303    54       94
10   303    45        7
11   303    82       83
12   303    26       51
13   202     1       81
14   101     4       94

## 转换为dict

- `orient="records"`

In [3]:
df.to_dict(orient="records")

[{'class': '101', 'math': 93, 'physics': 32},
 {'class': '303', 'math': 84, 'physics': 81},
 {'class': '202', 'math': 40, 'physics': 84},
 {'class': '202', 'math': 89, 'physics': 51},
 {'class': '303', 'math': 4, 'physics': 42},
 {'class': '303', 'math': 38, 'physics': 33},
 {'class': '101', 'math': 63, 'physics': 62},
 {'class': '303', 'math': 4, 'physics': 70},
 {'class': '101', 'math': 55, 'physics': 50},
 {'class': '303', 'math': 54, 'physics': 94},
 {'class': '303', 'math': 45, 'physics': 7},
 {'class': '303', 'math': 82, 'physics': 83},
 {'class': '303', 'math': 26, 'physics': 51},
 {'class': '202', 'math': 1, 'physics': 81},
 {'class': '101', 'math': 4, 'physics': 94}]

## 查看数据类型

- `df.dtypes`
- `df.info()`
- `df.describe()`

In [6]:
print("--------df.info()--------")
print(df.info())
print("--------df.describe()--------")
print(df.describe(include='int32'))

--------df.info()--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   class    15 non-null     object
 1   math     15 non-null     int32
 2   physics  15 non-null     int32
dtypes: int32(2), object(1)
memory usage: 372.0+ bytes
None
--------df.describe()--------
            math    physics
count  15.000000  15.000000
mean   43.133333  39.000000
std    31.475312  29.014775
min     5.000000   2.000000
25%    11.500000  22.000000
50%    45.000000  33.000000
75%    72.500000  50.500000
max    98.000000  99.000000

## 鸟瞰数据

- df.sample()
- df.head()
- df.tail()

In [9]:
df.sample(6)

   class  math  physics
1    101    98       99
13   202    38       85
3    202    54        3
8    101    45       44
6    202    47       33
9    202    14       45

## 取消科学计数法

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'A' : np.random.standard_normal(5),
        'B' : np.random.standard_normal(5),
        'C' : np.random.randint(0, 100, 5),
    }
)
#pd.set_option('display.float_format', lambda x: '%.2f' % x)
#pd.set_option('display.float_format', "{:.2f}".format)
pd.set_option('precision', 2)

print(df)

      A     B   C
0 -1.52  0.57  31
1  0.31 -0.77  93
2 -1.67 -0.92  75
3 -0.53 -0.17  37
4 -1.03 -2.71  84