## 创建`dataframe`

In [2]:
import pandas as pd
import numpy as np

classes = ["101", "202", "303"]
df = pd.DataFrame(
    {
        "class":[classes[x % len(classes)] for x in np.random.randint(0, len(classes), 15)],
        "math":np.random.randint(0, 100, 15),
        "physics":np.random.randint(0, 100, 15)  
    })
df

   class  math  physics
0    202    14       32
1    303    98       43
2    202    16       16
3    101    20       14
4    101     5       73
5    303    23       98
6    101    24       92
7    303    44       77
8    303    20       24
9    101    29       48
10   303    41       90
11   101    52       93
12   101    86       75
13   202     5       62
14   202    69       17

In [5]:
df.to_dict()

{'class': {0: '202',
  1: '303',
  2: '202',
  3: '101',
  4: '101',
  5: '303',
  6: '101',
  7: '303',
  8: '303',
  9: '101',
  10: '303',
  11: '101',
  12: '101',
  13: '202',
  14: '202'},
 'math': {0: 14,
  1: 98,
  2: 16,
  3: 20,
  4: 5,
  5: 23,
  6: 24,
  7: 44,
  8: 20,
  9: 29,
  10: 41,
  11: 52,
  12: 86,
  13: 5,
  14: 69},
 'physics': {0: 32,
  1: 43,
  2: 16,
  3: 14,
  4: 73,
  5: 98,
  6: 92,
  7: 77,
  8: 24,
  9: 48,
  10: 90,
  11: 93,
  12: 75,
  13: 62,
  14: 17}}

## 查看数据类型

- `df.dtypes`
- `df.info()`
- `df.describe()`

In [6]:
print("--------df.info()--------")
print(df.info())
print("--------df.describe()--------")
print(df.describe(include='int32'))

--------df.info()--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   class    15 non-null     object
 1   math     15 non-null     int32
 2   physics  15 non-null     int32
dtypes: int32(2), object(1)
memory usage: 372.0+ bytes
None
--------df.describe()--------
            math    physics
count  15.000000  15.000000
mean   43.133333  39.000000
std    31.475312  29.014775
min     5.000000   2.000000
25%    11.500000  22.000000
50%    45.000000  33.000000
75%    72.500000  50.500000
max    98.000000  99.000000

## 鸟瞰数据

- df.sample()
- df.head()
- df.tail()

In [9]:
df.sample(6)

   class  math  physics
1    101    98       99
13   202    38       85
3    202    54        3
8    101    45       44
6    202    47       33
9    202    14       45

## 取消科学计数法

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'A' : np.random.standard_normal(5),
        'B' : np.random.standard_normal(5),
        'C' : np.random.randint(0, 100, 5),
    }
)
#pd.set_option('display.float_format', lambda x: '%.2f' % x)
#pd.set_option('display.float_format', "{:.2f}".format)
pd.set_option('precision', 2)

print(df)

      A     B   C
0 -1.52  0.57  31
1  0.31 -0.77  93
2 -1.67 -0.92  75
3 -0.53 -0.17  37
4 -1.03 -2.71  84