## 创建DataFrame

In [35]:
import numpy as np
import pandas as pd

# 从列表创建，指定行、列索引
df = pd.DataFrame([10, 20, 30, 40],
                  columns=['numbers'],
                  index=['a', 'b', 'c', 'd'])
print(df)

   numbers
a       10
b       20
c       30
d       40

## 添加新的列数据

两种方法：`df.loc[i] = `和`append`

参考：

- [](https://stackoverflow.com/questions/10715965/create-a-pandas-dataframe-by-appending-one-row-at-a-time)

In [36]:
df['floats'] = (1.5, 2.5, 3.5, 4.5)
df['names1'] = ('Yves', 'Guido', 'Felix', 'Francesc')
df['names2'] = ['Yves', 'Guido', 'Felix', 'Francesc']
print(df)

df.loc[len(df)] = [50, 5.5, 'loc', 'loc']
print(df)

d = {'numbers':60, 'floats':6.6, 'names1':'loc', 'names2':'loc'}
df = df.append(d, ignore_index = True)
print(df)

   numbers  floats    names1    names2
a       10     1.5      Yves      Yves
b       20     2.5     Guido     Guido
c       30     3.5     Felix     Felix
d       40     4.5  Francesc  Francesc
   numbers  floats    names1    names2
a       10     1.5      Yves      Yves
b       20     2.5     Guido     Guido
c       30     3.5     Felix     Felix
d       40     4.5  Francesc  Francesc
4       50     5.5       loc       loc
   numbers  floats    names1    names2
0       10     1.5      Yves      Yves
1       20     2.5     Guido     Guido
2       30     3.5     Felix     Felix
3       40     4.5  Francesc  Francesc
4       50     5.5       loc       loc
5       60     6.6       loc       loc

## 添加新的行数据

In [ ]:
df2 = {'Name': 'Amy', 'Maths': 89, 'Science': 93}
df.loc[len(df.index)] = ['Amy', 89, 93] 
df = df.append(df2, ignore_index = True)

## 以列为单位修改数据

In [5]:
df['floats'] = 2.0
print(df)
df.floats = 22.0
print(df)

   numbers  floats    names1    names2
a       10     2.0      Yves      Yves
b       20     2.0     Guido     Guido
c       30     2.0     Felix     Felix
d       40     2.0  Francesc  Francesc
   numbers  floats    names1    names2
a       10    22.0      Yves      Yves
b       20    22.0     Guido     Guido
c       30    22.0     Felix     Felix
d       40    22.0  Francesc  Francesc

## 从新的DataFrame对象直接添加。

In [6]:
df['names2'] = pd.DataFrame(['Yv', 'Gu', 'Fe', 'Fr'],
                            index=['d', 'a', 'b', 'c'])
print(df)

   numbers  floats    names1 names2
a       10    22.0      Yves     Gu
b       20    22.0     Guido     Fe
c       30    22.0     Felix     Fr
d       40    22.0  Francesc     Yv

In [8]:
# Missing Data
ms = df.join(pd.DataFrame([1, 4, 9, 16],
                          index=['a', 'b', 'c', 'y'],
                          columns=['squares',]))
print(ms)

ms = df.join(pd.DataFrame([1, 4, 9, 16],
                             index=['a', 'b', 'c', 'y'],
                             columns=['squares',]),
                             how='outer')
print(ms)

   numbers  floats    names1 names2  squares
a       10    22.0      Yves     Gu      1.0
b       20    22.0     Guido     Fe      4.0
c       30    22.0     Felix     Fr      9.0
d       40    22.0  Francesc     Yv      NaN
   numbers  floats    names1 names2  squares
a     10.0    22.0      Yves     Gu      1.0
b     20.0    22.0     Guido     Fe      4.0
c     30.0    22.0     Felix     Fr      9.0
d     40.0    22.0  Francesc     Yv      NaN
y      NaN     NaN       NaN    NaN     16.0

## 删除某列

In [9]:
del df['names2']
print(df)

   numbers  floats    names1
a       10    22.0      Yves
b       20    22.0     Guido
c       30    22.0     Felix
d       40    22.0  Francesc

## 删除所有行

两种方式：`df = df.iloc[0:0]`和`df.drop(df.index, inplace=True)`。

参考： 

- [Drop all data in a pandas dataframe](https://stackoverflow.com/questions/39173992/drop-all-data-in-a-pandas-dataframe)

In [40]:
del_df = pd.DataFrame([10, 20, 30, 40],
                      columns=['numbers'],
                      index=['a', 'b', 'c', 'd'])
print(del_df)

del_df = del_df.iloc[0:0]
del_df.to_csv("del_df.csv")
print(del_df)

   numbers
a       10
b       20
c       30
d       40
Empty DataFrame
Columns: [numbers]
Index: []