## 字典创建

In [13]:
import pandas as pd
import numpy as np

pd.DataFrame(
    {
        'cbxxx_1UE':[24492],
        'cbxxx_2UE':24492
    }
)

   cbxxx_1UE  cbxxx_2UE
0      24492      24492

In [12]:
pd.DataFrame(
    {
        'cbxxx_1UE':np.random.rand(3),
        'cbxxx_2UE':24492
    }
)

   cbxxx_1UE  cbxxx_2UE
0   0.431845      24492
1   0.807741      24492
2   0.623971      24492

## 将key作为index

In [15]:
dict = {
    'cbxxx_1UE':[24492],
    'cbxxx_2UE':24492
}

pd.DataFrame(dict.items())

           0        1
0  cbxxx_1UE  [24492]
1  cbxxx_2UE    24492

In [16]:
pd.DataFrame(dict.items(), columns=['Case', 'Build'])

        Case    Build
0  cbxxx_1UE  [24492]
1  cbxxx_2UE    24492