## 修改数据

 以列为单位修改数据

In [23]:
import pandas as pd

change_df = pd.DataFrame(
    [1, 4, 9, 16],
    index=['a', 'b', 'c', 'y'],
    columns=['squares'])
print(change_df)

change_df['squares'].iloc[0] = 0

   squares
a        1
b        4
c        9
y       16

In [24]:
df['floats'] = 2.0
print(df)
df.floats = 22.0
print(df)

NameError: name 'df' is not defined

In [8]:
# Missing Data
ms = df.join(pd.DataFrame([1, 4, 9, 16],
                          index=['a', 'b', 'c', 'y'],
                          columns=['squares',]))
print(ms)

ms = df.join(pd.DataFrame([1, 4, 9, 16],
                             index=['a', 'b', 'c', 'y'],
                             columns=['squares',]),
                             how='outer')
print(ms)

   numbers  floats    names1 names2  squares
a       10    22.0      Yves     Gu      1.0
b       20    22.0     Guido     Fe      4.0
c       30    22.0     Felix     Fr      9.0
d       40    22.0  Francesc     Yv      NaN
   numbers  floats    names1 names2  squares
a     10.0    22.0      Yves     Gu      1.0
b     20.0    22.0     Guido     Fe      4.0
c     30.0    22.0     Felix     Fr      9.0
d     40.0    22.0  Francesc     Yv      NaN
y      NaN     NaN       NaN    NaN     16.0

## 删除数据

删除某列

In [9]:
del df['names2']
print(df)

   numbers  floats    names1
a       10    22.0      Yves
b       20    22.0     Guido
c       30    22.0     Felix
d       40    22.0  Francesc

删除第一行

In [5]:
import pandas as pd

del_df = pd.DataFrame([10, 20, 30, 40],
                      columns=['numbers'],
                      index=['a', 'b', 'c', 'd'])
print(del_df)
del_df.drop('a', inplace=True)
print(del_df)

   numbers
a       10
b       20
c       30
d       40
   numbers
b       20
c       30
d       40

## 按条件删除行

两种方式：

- `df.drop(df[<some boolean condition>].index)`。
- 更高效的方式是`df = df[df.score > 50]`。

In [7]:
import pandas as pd

del_df = pd.DataFrame([10, 20, 30, 40],
                      columns=['numbers'],
                      index=['a', 'b', 'c', 'd'])
print(del_df)
del_df = del_df[del_df["numbers"] > 10]
print(del_df)

   numbers
a       10
b       20
c       30
d       40
   numbers
b       20
c       30
d       40

## 删除所有行

两种方式：`df = df.iloc[0:0]`和`df.drop(df.index, inplace=True)`。

参考： 

- [Drop all data in a pandas dataframe](https://stackoverflow.com/questions/39173992/drop-all-data-in-a-pandas-dataframe)

In [41]:
del_df = pd.DataFrame([10, 20, 30, 40],
                      columns=['numbers'],
                      index=['a', 'b', 'c', 'd'])
print(del_df)

del_df = del_df.iloc[0:0]
del_df.to_csv("del_df.csv")
print(del_df)

   numbers
a       10
b       20
c       30
d       40
Empty DataFrame
Columns: [numbers]
Index: []

## 替换操作

- 最基本的替换功能是是使用`replace`函数，该函数并非默认的inplace函数，如果要对原来的dataframe生效，那么需要传入`inplace=True`参数。注意这个时候是全字匹配。
- `Series.str.replace()`不能添加`inplace=True`。会报“replace() got an unexpected keyword argument 'inplace'”，这是因为使用的不是`pandas.DataFrame.replace()`而是`string.replace`。

In [17]:
import pandas as pd

l = [1, 2, 3, 4, 5, '-']
rep_all_df = pd.DataFrame([l], columns=['a', 'b', 'c', 'd', 'e', 'f'])
print(rep_all_df)

rep_all_df.replace('-', '', inplace=True)
print(rep_all_df)

   a  b  c  d  e  f
0  1  2  3  4  5  -
   a  b  c  d  e f
0  1  2  3  4  5

In [1]:
import pandas as pd

rep_df = pd.DataFrame(
    ['10', '20', '30', '40'],
    columns=['numbers'],
    index=['a', 'b', 'c', 'd'])
print(rep_df)

# 全匹配，找不到就不会匹配。
rep_df["numbers"] = rep_df["numbers"].replace('2', '22')
print(rep_df)

  numbers
a      10
b      20
c      30
d      40
  numbers
a      10
b      20
c      30
d      40

In [5]:

# 字符匹配，使用的是Python字符串操作。
rep_df["numbers"] = rep_df["numbers"].str.replace('2', '22').str.replace('40', '0')
print(rep_df)

# 不能传递`inplance`参数，匹配不生效。
rep_df["numbers"].str.replace('2', '22')
print(rep_df)

             numbers
a                 10
b  22222222222222220
c                  0
d                  0
             numbers
a                 10
b  22222222222222220
c                  0
d                  0

替换部分值。

In [13]:
rep_sub_df = pd.DataFrame(
    ['10', '20', '30', '40'],
    columns=['numbers'],
    index=['a', 'b', 'c', 'd'])
print(rep_sub_df['numbers'].iloc[0:3].replace('20', 200))

a     10
b    200
c     30
Name: numbers, dtype: object

In [14]:
l = [''] * 8
print(l)

['', '', '', '', '', '', '', '']

## 转换类型

- 转换列的类型
- 空字符串不能转换，会报错

In [20]:
import pandas as pd

float_list = [30.0, 20.0, 50.0]
int_list_1 = [3, 2, 5]
int_list_2 = [13, 12, 15]

# 按照整数创建的列都是float类型
float2int_df = pd.DataFrame(
    [float_list, int_list_1, int_list_2],
    columns=['a', 'b', 'c'])
print(float2int_df)
print(float2int_df.dtypes)

# 将float列转换为int类型
float2int_df = float2int_df.astype({'b' : int})
print(float2int_df)
print(float2int_df.dtypes)

      a     b     c
0  30.0  20.0  50.0
1   3.0   2.0   5.0
2  13.0  12.0  15.0
a    float64
b    float64
c    float64
dtype: object
      a   b     c
0  30.0  20  50.0
1   3.0   2   5.0
2  13.0  12  15.0
a    float64
b      int32
c    float64
dtype: object

In [25]:
ch = ''
float(ch)

ValueError: could not convert string to float: ''