## reset_index 重设索引

In [6]:
import pandas as pd

df = pd.DataFrame(
    [['A', 'B', 'C'],
     [4, 5, 6],
     [7, 8, 9],
    ], index=[0, 0, 0], columns=['Team1', 'Team2', 'Team3']
)

print(df)

  Team1 Team2 Team3
0     A     B     C
0     4     5     6
0     7     8     9

In [7]:
df.reset_index()

   index Team1 Team2 Team3
0      0     A     B     C
1      0     4     5     6
2      0     7     8     9

In [9]:
df.reset_index(drop=True)

  Team1 Team2 Team3
0     A     B     C
1     4     5     6
2     7     8     9

## reindex 重设指定索引

In [1]:
import pandas as pd
from pandas import Series, DataFrame

obj = Series([4.2, 2.3, -1.3, 5.2], index=['d', 'b', 'c', 'a'])
print(obj)

obj1 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj1)

obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)
print(obj2)

d    4.2
b    2.3
c   -1.3
a    5.2
dtype: float64
a    5.2
b    2.3
c   -1.3
d    4.2
e    NaN
dtype: float64
a    5.2
b    2.3
c   -1.3
d    4.2
e    0.0
dtype: float64