# 修改

## 修改标题

- 修改列标题
    - 通过`df.columns = list`直接覆写已有标题
    - 通过`df.rename(columns={'src':'tar'})`替换部分标题
- 修改行标题
    - 通过`df.index = list`直接覆写

In [2]:
import pandas as pd
import numpy as np

classes = ["101", "202", "303"]
df = pd.DataFrame(
    {
        'class': [classes[i % len(classes)] for i in np.random.randint(0, 10, 5)],
        'math': np.random.randint(60, 100, 5),
        'physics': np.random.randint(60, 100, 5)
    })

df.sample()

  class  math  physics
1   101    97       86

In [5]:
df.columns = ['geograph', 'math', 'physics']
df.sample()

  geograph  math  physics
3      101    60       61

In [7]:
cols = {'math': 'chemistry', 'A':'B'}
df.rename(columns=cols, inplace=True)
df

  geograph  chemistry  physics
0      202         62       63
1      101         97       86
2      303         63       80
3      101         60       61
4      303         60       72

In [9]:
# 修改行标题
df.index = pd.date_range('20241005', periods=5)
df

           geograph  chemistry  physics
2024-10-05      202         62       63
2024-10-06      101         97       86
2024-10-07      303         63       80
2024-10-08      101         60       61
2024-10-09      303         60       72

## 修改数据

- 使用`df.loc[idx, 'col'] = val`修改某个单元格的值
- 使用`df.loc[label] = val`或者`df.iloc[idx] = val`修改某行的值
- 使用`df['col'] = df['col'].map({'src1':'tar1', 'src2':'tar2'})`或者`df[:, 'col']`修改整列的值

In [11]:
import pandas as pd

df = pd.DataFrame(
    [1, 4, 9, 16],
    index=['a', 'b', 'c', 'y'],
    columns=['squares'])
print(df)

   squares
a        1
b        4
c        9
y       16

In [12]:
# 修改值
df.loc[0, 'squares'] = 0
print(df)

df['squares'] = df['squares'].map({4.0: 100})
print(df)

   squares
a      1.0
b      4.0
c      9.0
y     16.0
0      0.0
   squares
a      NaN
b    100.0
c      NaN
y      NaN
0      NaN

In [2]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Score': [85, 90, 78, 88],
    'Grade': ['B', 'A', 'C', 'B']
}
df = pd.DataFrame(data)
df

   ID     Name  Score Grade
0   1    Alice     85     B
1   2      Bob     90     A
2   3  Charlie     78     C
3   4    David     88     B

In [6]:
df.loc[(df['Name'] == 'Bob') & (df['Grade'] == 'D'), 'Score'] = 95
df

   ID     Name  Score Grade
0   1    Alice     85     B
1   2      Bob     95     A
2   3  Charlie     78     C
3   4    David     88     B

# 替换

## 替换操作

- 最基本的替换功能是是使用`replace`函数，该函数并非默认的inplace函数，如果要对原来的dataframe生效，那么需要传入`inplace=True`参数。注意这个时候是全字匹配。
- `Series.str.replace()`不能添加`inplace=True`。会报“replace() got an unexpected keyword argument 'inplace'”，这是因为使用的不是`pandas.DataFrame.replace()`而是`string.replace`。

In [1]:
import pandas as pd

l = [1, 2, 3, 4, 5, '-']
rep_all_df = pd.DataFrame([l], columns=['a', 'b', 'c', 'd', 'e', 'f'])
print(rep_all_df)

rep_all_df.replace('-', '', inplace=True)
print(rep_all_df)

   a  b  c  d  e  f
0  1  2  3  4  5  -
   a  b  c  d  e f
0  1  2  3  4  5

In [2]:
import pandas as pd

rep_df = pd.DataFrame(
    ['10', '20', '30', '40'],
    columns=['numbers'],
    index=['a', 'b', 'c', 'd'])
print(rep_df)

# 全匹配，找不到就不会匹配。
rep_df["numbers"] = rep_df["numbers"].replace('2', '22')
print(rep_df)

  numbers
a      10
b      20
c      30
d      40
  numbers
a      10
b      20
c      30
d      40

In [4]:
# 字符匹配，使用的是Python字符串操作。
rep_df["numbers"] = rep_df["numbers"].str.replace('2', '22').str.replace('40', '0')
print(rep_df)

# 不能传递`inplance`参数，匹配不生效。
rep_df["numbers"].str.replace('2', '22')
print(rep_df)

#替换部分值。
rep_sub_df = pd.DataFrame(
    ['10', '20', '30', '40'],
    columns=['numbers'],
    index=['a', 'b', 'c', 'd'])
print(rep_sub_df['numbers'].iloc[0:3].replace('20', 200))

  numbers
a      10
b   22220
c      30
d       0
  numbers
a      10
b   22220
c      30
d       0
a     10
b    200
c     30
Name: numbers, dtype: object

## 日期转换

- dataframe的列从“2/25/2023”转换为“2023-02-25”
- 最初从csv里面读取出来的日期列为`object`类型，调用`pd.to_datetime()`转换后对应列变更为`datetime64`类型。

In [20]:
import pandas as pd

df = pd.read_csv("ex_date_convert.csv", index_col=0)
print(df.dtypes)
print(df.sample())

Date                    object
Build                  float64
C&P Composite Index    float64
Valid Case Num           int64
dtype: object
          Date    Build  C&P Composite Index  Valid Case Num
37  11/24/2022  43062.0           112.909723               1

In [21]:
df['Date'] = pd.to_datetime(df['Date'])
print(df.sample())
df.to_csv("ex_date_converted.csv")

         Date    Build  C&P Composite Index  Valid Case Num
85 2022-09-12  31230.0            92.364036               1

## time calculation

In [ ]:
import pandas as pd
import pandas as pd


df = pd.read_csv('time_shift.csv', index_col=0)
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['timediff'] = df['Timestamp'] - df['Timestamp'].shift(1)
df['timediff'] = df['timediff'].dt.total_seconds()
print(df['timediff'].idxmax())

print(df)

8
                 Timestamp        Rcvd        Sent  Buffered    throughput  \
0  2024-04-02 01:03:23.786   317188188   316840908    347280           NaN
1  2024-04-02 01:03:24.286   664468188   664120908    347280  3.472800e+08
2  2024-04-02 01:03:25.786  1706308188  1705678743    629445  1.041558e+09
3  2024-04-02 01:03:26.286  2053588188  2053146853    441335  3.474681e+08
4  2024-04-02 01:03:26.786  2400868188  2400332798    535390  3.471859e+08
5  2024-04-02 01:03:27.286  2748148188  2747612798    535390  3.472800e+08
6  2024-04-02 01:03:27.786  3095428188  3094986853    441335  3.473741e+08
7  2024-04-02 01:03:28.286  3442708188  3442230678    477510  3.472438e+08
8  2024-04-02 01:03:31.286  5526388188  5525946853    441335  2.083716e+09
9  2024-04-02 01:03:31.786  5873668188  5873132798    535390  3.471859e+08
10 2024-04-02 01:03:32.286  6220948188  6220412798    535390  3.472800e+08
11 2024-04-02 01:03:32.786  6568228188  6567880908    347280  3.474681e+08

    timediff
0        NaN
1        0.5
2        1.5
3        0.5
4        0.5
5        0.5
6        0.5
7        0.5
8        3.0
9        0.5
10       0.5
11       0.5

# 类型转换

- 使用`astype`

In [3]:
import pandas as pd
import numpy as np

classes = ["001", "002", "003"]
df = pd.DataFrame(
    {
        "class":[classes[x % len(classes)] for x in np.random.randint(0, len(classes), 5)],
        "math":np.random.uniform(0, 100, 5),
        "physics":np.random.randint(0, 100, 5)
    })
df

  class       math  physics
0   001  51.530709       59
1   001  26.317562       44
2   002   7.467322       82
3   002  30.815450       20
4   003  84.612303       70

In [5]:
print(df.dtypes)
df = df.astype({"math": int, "physics": complex})
print(df.dtypes)

class       object
math       float64
physics      int32
dtype: object
class          object
math            int32
physics    complex128
dtype: object

# 组合

## `df.merge()`合并

In [10]:
import pandas as pd
import numpy as np

df_merge1 = pd.DataFrame({
    'A1':np.random.randint(0, 100, 2),
    'B1':np.random.randint(0, 100, 2),
    'C1':np.random.randint(0, 100, 2)
})
print(df_merge1)

df_merge2 = pd.DataFrame({
    'A2':np.random.randint(0, 100, 2),
    'B2':np.random.randint(0, 100, 2),
    'C2':np.random.randint(0, 100, 2)
})
print(df_merge2)

df_merge3 = pd.DataFrame({
    'A3':np.random.randint(0, 100, 2),
    'B3':np.random.randint(0, 100, 2),
    'C3':np.random.randint(0, 100, 2)
})
print(df_merge3)

   A1  B1  C1
0  97  92  79
1  64  53  85
   A2  B2  C2
0  95  30  92
1  75  52  54
   A3  B3  C3
0  96   4  57
1   6  10  98

In [13]:
df_merge1.merge(df_merge2, on=df_merge2.index)

   key_0  A1  B1  C1  A2  B2  C2
0      0  97  92  79  95  30  92
1      1  64  53  85  75  52  54

## `pd.concat()`连接

这里“连接”的意思是“在列上面进行连接”。我们不使用“合并”这个词，因为“合并”的概念涉及到数据库里面的连接操作。“连接”的时候需要指定“轴”，而“合并”需要指定键值。

这个时候我们可以使用`concat()`函数，该函数可以通过`axis`参数指定连接轴，默认是`axis=0`，表示在列的方向上连接（按照列标签进行）。

In [15]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'a':np.random.randint(0, 100, 2),
    'b':np.random.randint(0, 100, 2),
    'c':np.random.randint(0, 100, 2)
})
print(df1)

df2 = pd.DataFrame({
    'a':np.random.randint(0, 100, 2),
    'b':np.random.randint(0, 100, 2),
    'c':np.random.randint(0, 100, 2)
})
print(df2)

df3 = pd.DataFrame({
    'a':np.random.randint(0, 100, 2),
    'b':np.random.randint(0, 100, 2),
    'c':np.random.randint(0, 100, 2)
})
print(df3)

    a   b   c
0  91  45  18
1  67  73   4
    a   b   c
0  56  70  37
1  92  34  68
    a   b   c
0  33  91   7
1  40  38  37

### 纵向连接

纵向连接就是将不同的行在列的方向上连接，此时需要将`axis`参数设置为`0`，这也是它的默认值。另外通常也需要将`ignore_index`参数设置为`True`来重排合并之后的行索引值。

还有有一个关键的参数：`join`：

- `join`参数默认值为`outter`，会连接轴的所有数据，也就是如果合并之前的两个dataframe具有同名的列，那么合并之后会出现相同的列表签。
- `join`参数设置为`inner`和`outter`，前者表示内部合并，只提取和连接轴一致的数据。

In [20]:
pd.concat([df1, df2, df3])

    a   b   c
0  91  45  18
1  67  73   4
0  56  70  37
1  92  34  68
0  33  91   7
1  40  38  37

In [21]:
pd.concat([df1, df2, df3], ignore_index=True)

    a   b   c
0  91  45  18
1  67  73   4
2  56  70  37
3  92  34  68
4  33  91   7
5  40  38  37

### 纵向连接时列无交集

In [22]:
df3 = pd.DataFrame({
    'a':np.random.randint(0, 100, 2),
    'b':np.random.randint(0, 100, 2),
    'c':np.random.randint(0, 100, 2)
})
print(df3)

df4 = pd.DataFrame({
    'd':np.random.randint(0, 100, 2),
    'e':np.random.randint(0, 100, 2),
    'f':np.random.randint(0, 100, 2)
})
print(df4)

    a   b   c
0  66  83  46
1  85  26  75
    d   e   f
0  19  75   5
1  80  43  68

In [23]:
# 纵向连接，默认为“outer”
concat_on_col = pd.concat([df3, df4], axis=0)
print(concat_on_col)

      a     b     c     d     e     f
0  66.0  83.0  46.0   NaN   NaN   NaN
1  85.0  26.0  75.0   NaN   NaN   NaN
0   NaN   NaN   NaN  19.0  75.0   5.0
1   NaN   NaN   NaN  80.0  43.0  68.0

In [24]:
pd.concat([df3, df4], axis=0, join='inner', ignore_index=True)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

### 纵向连接时部分交集

In [25]:
import pandas as pd
import numpy as np

df3 = pd.DataFrame({
    'a':np.random.randint(0, 100, 5),
    'c':np.random.randint(0, 100, 5),
    'd':np.random.randint(0, 100, 5)
})
print(df3)

df4 = pd.DataFrame({
    'a':np.random.randint(0, 100, 5),
    'b':np.random.randint(0, 100, 5),
    'c':np.random.randint(0, 100, 5),
    'd':np.random.randint(0, 100, 5)
})
print(df4)
pd.concat([df3, df4], axis=0, join='outer')

    a   c   d
0  92  17  60
1  59  60  73
2   5  60  86
3  47   8  79
4  96  56  99
    a   b   c   d
0  43  42  20  60
1  68  51  28  50
2  81  61  57  81
3  56  79   0  87
4  97  88  11   5

    a   c   d     b
0  92  17  60   NaN
1  59  60  73   NaN
2   5  60  86   NaN
3  47   8  79   NaN
4  96  56  99   NaN
0  43  20  60  42.0
1  68  28  50  51.0
2  81  57  81  61.0
3  56   0  87  79.0
4  97  11   5  88.0

### 横向连接

我们设定`axis=1`，即在横向对列进行连接，此时的连接是按照“行标签”进行，也就是多增加了几列。

In [26]:
df1 = pd.DataFrame({
    'a':np.random.randint(0, 100, 2),
    'b':np.random.randint(0, 100, 2),
    'c':np.random.randint(0, 100, 2)
})
print(df1)

df2 = pd.DataFrame({
    'a':np.random.randint(0, 100, 2),
    'b':np.random.randint(0, 100, 2),
    'c':np.random.randint(0, 100, 2)
})
print(df2)

    a   b   c
0  88  65  80
1  27  36  55
    a   b   c
0  29  86  36
1   7   7  93

In [27]:
pd.concat([df1, df2], axis=1, join='inner')

    a   b   c   a   b   c
0  88  65  80  29  86  36
1  27  36  55   7   7  93

In [32]:
df1.merge(df2, on='a', how='outer')

    a   b_x   c_x   b_y   c_y
0   7   NaN   NaN   7.0  93.0
1  27  36.0  55.0   NaN   NaN
2  29   NaN   NaN  86.0  36.0
3  88  65.0  80.0   NaN   NaN

# 转换

## DataFrame转换为dict

`orient`常用的选项：

- `dict`默认项，转换为` {column -> {index -> value}}`
- `list`，转换为` {column -> [values]}`
- `records`，转换为`[{column -> value}, … , {column -> value}]`

In [1]:
import pandas as pd
import numpy as np

df_to_dict = pd.DataFrame({
    'A':np.random.randint(0, 100, 2),
    'B':np.random.randint(0, 100, 2),
    'C':np.random.randint(0, 100, 2)
})
df_to_dict

    A   B   C
0  81  27  98
1  91   9   9

In [5]:
# 默认值orient="dict"
df_to_dict.to_dict()

{'A': {0: 81, 1: 91}, 'B': {0: 27, 1: 9}, 'C': {0: 98, 1: 9}}

In [4]:
# orient="list"
df_to_dict.to_dict(orient="list")

{'A': [81, 91], 'B': [27, 9], 'C': [98, 9]}

In [5]:
# orient="records"
df_to_dict.to_dict(orient="records")

[{'A': 81, 'B': 27, 'C': 98}, {'A': 91, 'B': 9, 'C': 9}]

## stack/unstack

In [2]:
import pandas as pd
import numpy as np

stack_df = pd.DataFrame({
    'A' : np.random.randint(0, 100, 3),
    'B' : np.random.randint(0, 100, 3),
    'C' : np.random.randint(0, 100, 3)
})
stack_df

    A   B   C
0  90  23  10
1  89  72  50
2  34   5  28

In [3]:
stack_df = stack_df.stack()
stack_df

0  A    90
   B    23
   C    10
1  A    89
   B    72
   C    50
2  A    34
   B     5
   C    28
dtype: int32

In [6]:
stack_df.unstack()

    A   B   C
0  90  23  10
1  89  72  50
2  34   5  28