## DataFrame的连接

### 准备数据

首先，我们创建两个拥有相同列名的DataFrame：

In [4]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'a':np.random.randint(0, 100, 5),
    'b':np.random.randint(0, 100, 5),
    'c':np.random.randint(0, 100, 5)
})
print(df1)

df2 = pd.DataFrame({
    'a':np.random.randint(0, 100, 5),
    'b':np.random.randint(0, 100, 5),
    'c':np.random.randint(0, 100, 5)
})
print(df2)

    a   b   c
0  18   3  96
1  70   2  87
2  85  56  14
3   9  64  46
4  17  29  53
    a   b   c
0  34  20  88
1  61  60   8
2  30  49  47
3  62   3  97
4  64   9   4

然后，要做的工作便是将这两个DataFrame进行连接，这里“连接”的意思是“在列上面进行连接”。我们不使用“合并”这个词，因为“合并”的概念涉及到数据库里面的连接操作。“连接”的时候需要指定“轴”，而“合并”需要指定键值。

这个时候我们可以使用`concat()`函数，该函数可以通过`axis`参数指定连接轴，默认是`axis=0`，表示在列的方向上连接（按照列标签进行）。

### 在列上连接：`axis`参数和`ignore_index`参数

In [5]:
pd.concat([df1, df2])

    a   b   c
0  18   3  96
1  70   2  87
2  85  56  14
3   9  64  46
4  17  29  53
0  34  20  88
1  61  60   8
2  30  49  47
3  62   3  97
4  64   9   4

如上默认在列上进行连接，不过index依然重复，这个时候可以使用`ignore_index`参数

In [6]:
pd.concat([df1, df2], ignore_index=True)

    a   b   c
0  18   3  96
1  70   2  87
2  85  56  14
3   9  64  46
4  17  29  53
5  34  20  88
6  61  60   8
7  30  49  47
8  62   3  97
9  64   9   4

### 在行上连接

如果我们设定`ignore_index=1`，即在行上面进行连接，此时的连接是按照“行标签”进行，那么我们看到的结果是这样：

In [7]:
pd.concat([df1, df2], axis=1)

    a   b   c   a   b   c
0  18   3  96  34  20  88
1  70   2  87  61  60   8
2  85  56  14  30  49  47
3   9  64  46  62   3  97
4  17  29  53  64   9   4

也就是多增加了几列。

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
df1 = pd.DataFrame({
    'a':np.random.randint(0, 100, 5),
    'b':np.random.randint(0, 100, 5),
    'c':np.random.randint(0, 100, 5)
})
print(df1)

df2 = pd.DataFrame({
    'd':np.random.randint(0, 100, 5),
    'e':np.random.randint(0, 100, 5),
    'f':np.random.randint(0, 100, 5)
})
print(df2)