In [2]:
import pandas as pd

data = [('Facebook', 750, True),
        ('Alphabet', 1100, True),
        ('Amazon', 1700, True),
        ('Apple', 2100, False),
        ('Microsoft', 1750, False)]

pd.DataFrame(data, columns=['Name', 'M-cap', 'Internet Companies'])

        Name  M-cap  Internet Companies
0   Facebook    750                True
1   Alphabet   1100                True
2     Amazon   1700                True
3      Apple   2100               False
4  Microsoft   1750               False