## groupby 单列

groupby 操作之后可以求和。

In [2]:
import pandas as pd

df = pd.read_csv("ex_data.csv", index_col=0)
print(df)

print("-----------------")
df2 = df.groupby(['Timestamp']).sum()
print(df2)

print("-----------------")
df3 = df.groupby(['Timestamp']).count()
print(df3)

                 Timestamp  rlcPduBytes  nrCellIdentity
0  2023-05-26T15:59:49.062     18462236               0
1  2023-05-26T15:59:50.086     19321432               0
2  2023-05-26T15:59:51.110     19321432               0
3  2023-05-26T15:59:52.134     19300476               0
4  2023-05-26T15:59:53.158     19321432               0
5  2023-05-26T15:59:54.182     19300476               0
6  2023-05-26T15:59:55.206     19321432               0
7  2023-05-26T15:59:56.231     19321432               0
8  2023-05-26T15:59:57.255     19300476               0
-----------------
                         rlcPduBytes  nrCellIdentity
Timestamp
2023-05-26T15:59:49.062     18462236               0
2023-05-26T15:59:50.086     19321432               0
2023-05-26T15:59:51.110     19321432               0
2023-05-26T15:59:52.134     19300476               0
2023-05-26T15:59:53.158     19321432               0
2023-05-26T15:59:54.182     19300476               0
2023-05-26T15:59:55.206     19321432               0
2023-05-26T15:59:56.231     19321432               0
2023-05-26T15:59:57.255     19300476               0
-----------------
                         rlcPduBytes  nrCellIdentity
Timestamp
2023-05-26T15:59:49.062            1               1
2023-05-26T15:59:50.086            1               1
2023-05-26T15:59:51.110            1               1
2023-05-26T15:59:52.134            1               1
2023-05-26T15:59:53.158            1               1
2023-05-26T15:59:54.182            1               1
2023-05-26T15:59:55.206            1               1
2023-05-26T15:59:56.231            1               1
2023-05-26T15:59:57.255            1               1

In [19]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

df = pd.DataFrame(np.random.standard_normal((9, 4)).round(6))
df.columns = ['No1', 'No2', 'No3', 'No4'] # 更改列名。
df.index =  pd.date_range('2015-1-1', periods=9, freq='M')

# 添加两列，便于后面进行groupby操作
df['Quarter'] = ['Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q3', 'Q3', 'Q3']
df['Week'] = ['W1', 'W1', 'W2', 'W1', 'W2', 'W3', 'W1', 'W2', 'W3']
print(df)

#
groups_sum = df.groupby(["Quarter", "Week"]).sum()
print(groups_sum)
print(groups_sum["No1"].max())
print(groups_sum["No1"].idxmax())
print(type(groups_sum["No1"].idxmax()))
print(groups_sum.loc[groups_sum["No1"].idxmax()]["No1"])

groups_cnt = df.groupby(["Quarter", "Week"]).count()
print(groups_cnt)
print(groups_cnt.loc[groups_sum["No1"].idxmax()]["No1"])

                 No1       No2       No3       No4 Quarter Week
2015-01-31  0.748876 -0.067868  0.198598  0.285571      Q1   W1
2015-02-28 -0.618378 -0.118754  0.837639 -0.248414      Q1   W1
2015-03-31 -1.243018 -0.226583 -0.895810  0.236261      Q1   W2
2015-04-30  0.634905  0.002535 -0.345042 -2.104634      Q2   W1
2015-05-31  0.027536  0.405534 -1.310834  0.283612      Q2   W2
2015-06-30  0.005674  0.335744 -0.856887  0.740840      Q2   W3
2015-07-31 -0.880063  0.773759 -1.283782 -0.340073      Q3   W1
2015-08-31 -0.179156 -0.785114  0.815794 -1.150445      Q3   W2
2015-09-30 -0.911168 -1.182747  1.812109  0.430336      Q3   W3
                   No1       No2       No3       No4
Quarter Week
Q1      W1    0.130498 -0.186622  1.036237  0.037157
        W2   -1.243018 -0.226583 -0.895810  0.236261
Q2      W1    0.634905  0.002535 -0.345042 -2.104634
        W2    0.027536  0.405534 -1.310834  0.283612
        W3    0.005674  0.335744 -0.856887  0.740840
Q3      W1   -0.880063  0.773759 -1.283782 -0.340073
        W2   -0.179156 -0.785114  0.815794 -1.150445
        W3   -0.911168 -1.182747  1.812109  0.430336
0.634905
('Q2', 'W1')
<class 'tuple'>
0.634905
              No1  No2  No3  No4
Quarter Week
Q1      W1      2    2    2    2
        W2      1    1    1    1
Q2      W1      1    1    1    1
        W2      1    1    1    1
        W3      1    1    1    1
Q3      W1      1    1    1    1
        W2      1    1    1    1
        W3      1    1    1    1
1

## GroupBy to Dataframe

In [31]:
import pandas as pd

df = pd.read_csv('transform_data.csv')
print(df)

groups = df.groupby(['sfn', 'slot'])
#groups.size().to_frame(name='count').reset_index()
groups.count().reset_index()

   sfn  slot   in  out
0  697     3  533  546
1  697     4  165  176
2  697     4  634  645
3  697     5  165  171
4  697     5  184  208

   sfn  slot  in  out
0  697     3   1    1
1  697     4   2    2
2  697     5   2    2

## transform

In [45]:
import time
import pandas as pd

df = pd.read_csv('transform_data.csv')

t1 = time.time()
groups = df.groupby(['sfn', 'slot'])
df['cost'] = groups['out'].transform('last') - groups['in'].transform('first')
df = df.drop_duplicates(subset=['sfn', 'slot'], keep='first')
t2 = time.time()

print('TIME COST: {}'.format(t2 - t1))
print(df)

TIME COST: 0.012050151824951172
       sfn  slot  handleMsgOffsetInSlot  sendPayloadOffsetInSlot  cost
0      697     3                    533                      546    13
1      697     4                    165                      176   480
30     697     5                    165                      171   477
58     697     6                    161                      179   482
90     697     7                    170                      196   475
...    ...   ...                    ...                      ...   ...
30343  800     0                    172                      182   402
30373  800     1                    178                      188   426
30400  800     2                    176                      185   422
30429  800     4                    162                      176   458
30462  800     6                    161                      172   467

[962 rows x 5 columns]

In [44]:
import time
import pandas as pd

df = pd.read_csv('transform_data.csv')

t1 = time.time()
groups = df.groupby(['sfn', 'slot'])
new_df = groups.count()
new_df['cost'] = groups['out'].last() - groups['in'].first()
new_df = new_df.reset_index()
t2 = time.time()

print('TIME COST: {}'.format(t2 - t1))
print(new_df)

TIME COST: 0.011004447937011719
     sfn  slot  handleMsgOffsetInSlot  sendPayloadOffsetInSlot  cost
0    697     3                      1                        1    13
1    697     4                     29                       29   480
2    697     5                     28                       28   477
3    697     6                     32                       32   482
4    697     7                     27                       27   475
..   ...   ...                    ...                      ...   ...
957  800     0                     30                       30   402
958  800     1                     27                       27   426
959  800     2                     29                       29   422
960  800     4                     33                       33   458
961  800     6                     30                       30   467

[962 rows x 5 columns]