## 创建DataFrame

In [3]:
import numpy as np
import pandas as pd

# 从列表创建，指定行、列索引
df = pd.DataFrame([10, 20, 30, 40],
                  columns=['numbers'],
                  index=['a', 'b', 'c', 'd'])
print(df)
print(df.columns[0])

   numbers
a       10
b       20
c       30
d       40
numbers

In [2]:
import numpy as np
import pandas as pd

dates = pd.date_range('20231201', periods=6)
pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2023-12-01 -0.352829 -1.399629 -1.098182  0.717591
2023-12-02 -0.386667 -1.403559 -2.169446  0.342153
2023-12-03 -1.506377 -0.481978  0.981149 -0.301207
2023-12-04  0.238194  0.523819 -0.297135 -0.798240
2023-12-05 -1.404003 -0.558267 -0.356996  0.127226
2023-12-06 -0.206444  0.342696  1.052846 -1.040809

## 添加新的列数据

两种方法：`df.loc[i] = `和`append`

参考：

- [](https://stackoverflow.com/questions/10715965/create-a-pandas-dataframe-by-appending-one-row-at-a-time)

In [ ]:
df['floats'] = (1.5, 2.5, 3.5, 4.5)
df['names1'] = ('Yves', 'Guido', 'Felix', 'Francesc')
df['names2'] = ['Yves', 'Guido', 'Felix', 'Francesc']
print(df)

df.loc[len(df)] = [50, 5.5, 'loc', 'loc']
print(df)

d = {'numbers':60, 'floats':6.6, 'names1':'loc', 'names2':'loc'}
df = df.append(d, ignore_index = True)
print(df)

## 添加新的行数据

In [2]:
import pandas as pd 

df = pd.DataFrame([10, 20, 30, 40],
                  columns=['numbers'],
                  index=['a', 'b', 'c', 'd'])
print(df)
print(len(df))

df.loc[len(df)] = [89] 
print(df)

   numbers
a       10
b       20
c       30
d       40
4
   numbers
a       10
b       20
c       30
d       40
4       89

## 从新的DataFrame对象直接添加。

In [3]:
df['names2'] = pd.DataFrame(['Yv', 'Gu', 'Fe', 'Fr'],
                            index=['d', 'a', 'b', 'c'])
print(df)

   numbers names2
a       10     Gu
b       20     Fe
c       30     Fr
d       40     Yv
4       89    NaN